{% extends 'PidevBundle::layoutMembre.html.twig' %}
{% block title %}
    afficher les rendez_vous du membre
{% endblock %}
{% block contenu %}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.default-settings.js') }}"></script>
<script type="text/javascript"
        src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
</script>
<script type="text/javascript"
        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
</script>
<script type="text/javascript"
        src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
</script>
<link rel="stylesheet" type="text/css" media="screen"
      href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
<style>

    .popup{
        width:400px;
        height:180px;
        background-color:#ffdfe5;
        border-radius: 4px;
       margin: auto;
        z-index: 1000;
        display: none;
        position: absolute;
        left: 50%;
        margin-left: -200px;
        top: 400px;
    }
    .popup1{
        width:400px;
        height:250px;
        background-color:#ffdfe5;
        border-radius: 4px;
        margin: auto;
        z-index: 1000;
        display: none;
        position: absolute;
        left: 50%;
        margin-left: -200px;
        top: 250px;
    }
    .lala{
        font-size: 15px;
        line-height:100px;

    }
    .bo{
        background-color:#b10837;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    #close{
        width: 20px;
        height:20px;
        line-height:20px;
        font-size: 20px;
        border-radius:50%;
        border: 2px solid;
        color: #FF6B6B;
        float: right;
        cursor: pointer;
    }
    #close1{
        width: 20px;
        height:20px;
        line-height:20px;
        font-size: 20px;
        border-radius:50%;
        border: 2px solid;
        color: #FF6B6B;
        float: right;
        cursor: pointer;
    }
    .cover{
  width:100%;
        height:100%;
        position:absolute;
        top: 10;
        left: 0;
        display: none;
        background-color: rgba(0,0,0,0.5);
        z-index: 999;

    }
    .cover1{
        width:100%;
        height:100%;
        position:absolute;
        top: 10;
        left: 0;
        display: none;
        background-color: rgba(0,0,0,0.5);
        z-index: 999;

    }
    .cal{
        position:center;
        margin:0 auto;
        text-align: center;

    }
    .type1{
        position:center;
        margin:0 auto;
        text-align: center;

    }


</style>
<script>

    $(document).ready(function () {

      var selecteddate=new  Date();
            $('#5').fullCalendar({

                header: {
                    left: 'prev, next',
                    center: 'title',
                    right: 'month'
                },
                selectable:true,
                editable:false,
                selectHelper:true,
                height:500,
                width:2,


                eventClick: function(calEvent, jsEvent, view) {
                    $(".cover").fadeIn('slow');
                    $(".popup").fadeIn('slow');


                       // $("#startTime").val(moment(calEvent.start).format('YYYY-MM-DD HH:mm:ss'));
                    $("#titre").html(calEvent.title);
                    $("#description").html(calEvent.descritption);
                    $("#idfournisseur").html(calEvent.id);



                },
                dayClick:function (date,allDay,jsEvent,view) {
                    selecteddate=date;
                    alert(selecteddate.format('YYYY-MM-DD HH:mm:ss'));
                },
                eventSources: [
                    { events: [
                   {
                        {% for rdv in rdvs %}
                       descritption:'{{ rdv.idr }}',
                       title:' {{ rdv.typeConsultation }}',
                       start:'{{ rdv.dateRdv|date }}',
                        id:'{{ rdv.idFournisseur.id }}',
                          {% endfor %}



                   }


                        ],
                        color: 'pink',
                        textColor: 'white'}


]
            });
        });

</script>
<div class="cal" align="center">
    <div class="popup">
        <span id="close">&times;</span>
        <p class="lala">do you want to delete or update your appointement</p>
    <input type="button"  value="suprimer" id="lien1" class="bo">
        <input type="button" value="update" id="lien2" class="bo"></div></div>
    <div class="cover"></div>
 <script>
     $(document).ready(function () {
         $('#close').mouseenter(function () {
             $(".cover").fadeOut('slow');
             $(".popup").fadeOut('slow');
         });
     });
 </script>
    <script>
        $(document).ready(function () {
            $('#close1').mouseenter(function () {
                $(".cover").fadeOut('slow');
                $(".popup1").fadeOut('slow');
            });
        });
    </script>
   <script>
       $(document).ready(function () {
         $('#lien1').click(function () {
             var id = $(description).text();

             var DATA = {
                 'id': id,

             };
             $.ajax({
                 type: "POST",
                 url:"{{ path('delete_rendez_vous') }}",
                 data: DATA,

                 success:function(data) {
                     alert($data);
                 }

             });
         });

       });
   </script>
<script>
    $(document).ready(function () {
        $('#lien2').click(function () {
            $(".popup").fadeOut('slow');
            $(".popup1").fadeIn('slow');

        });});
</script>
<script>

    $(document).ready(function () {
        $('#v1').click(function () {
    var id =$(description).text();
    var datte=$(startTime).val();
    var id_fourni=$(idfournisseur).text();
    alert(id_fourni);

    var DATA = {
        'id': id,
        'datte':datte,
        'id_fourni':id_fourni

    };
    $.ajax({
        type: "POST",
        url:"{{ path('update_rendez_vous') }}",
        data: DATA,

        success:function(data) {
            alert($data);
        }

    });
    });
    })

</script>

<div id="5"> </div>
<p id="description" hidden="hidden"></p>
<p id="idfournisseur" hidden="hidden"></p>

<div class="type1" align="center">
<div class="popup1">
    <span id="close1">&times;</span>
    <p class="lala"> update your appointement and check your email</p>
    type consultation:<p id="titre"></p>
<div id="date" class="input-append date">
    <input type="text" id="startTime" > Time du rendez vous :</input><br>
    <span class="add-on">
                <i date-time-icon="icon-time" date-date-icon="icon-calendar"></i>
               </span> </div>

    <input type="submit" value="valider" id="v1" onClick="window.location.reload()" class="bo">
</div>
    <div class="cover1"></div>
<script type="text/javascript">
    $('#date').datetimepicker({
        format: 'yyyy-MM-dd hh:mm:ss',
        language: 'en'
    });
</script>

</div>
{% endblock %}



