{% extends 'PidevBundle::layoutMembre.html.twig' %}
{% block title %}
 prise redv
{% endblock %}
{% block contenu %}
<!--start slider -->
<link rel="stylesheet" href={{ asset('css/fwslider.css') }} media="all">
<script src={{ asset('js/jquery-ui.min.js') }}></script>
<script src={{ asset('js/fwslider.js') }}></script>
    <style>
        .bo{
            background-color:#b10837;
            text-align: center;
            padding: 7px 7px;
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;
           size:20cm;

        }
        .mytext{
            font-size:15pt;
              size: 20cm;
            border-color: #ffdfe5;


        }
        #k{
            display: inline;

        }
        fieldset{
            border: 1px solid rgb(255, 124, 250);
            width: 600px;
            margin:auto;
        }
        .bo1{
            background-color:#b10837;
            text-align: right;
            padding: 7px 7px;
            text-decoration: none;
            text-transform: uppercase;
            color: #FFFFFF;
            size:20cm;
            left:40%;
            display: block;
            position: relative;
            left: 120%;
           top:-20px;

        }
    </style>

<!--end slider -->
<script type="text/javascript">
    $(document).ready(function() {
        $(".dropdown img.flag").addClass("flagvisibility");

        $(".dropdown dt a").click(function() {
            $(".dropdown dd ul").toggle();
        });

        $(".dropdown dd ul li a").click(function() {
            var text = $(this).html();
            $(".dropdown dt a span").html(text);
            $(".dropdown dd ul").hide();
            $("#result").html("Selected value is: " + getSelectedValue("sample"));
        });

        function getSelectedValue(id) {
            return $("#" + id).find("dt a span.value").html();
        }

        $(document).bind('click', function(e) {
            var $clicked = $(e.target);
            if (! $clicked.parents().hasClass("dropdown"))
                $(".dropdown dd ul").hide();
        });


        $("#flagSwitcher").click(function() {
            $(".dropdown img.flag").toggleClass("flagvisibility");
        });
    });
</script>
</head>
    <br><br><br>
    <div align="center" id="k">

        {{ form_start(f) }}
      <label>search by service</label>  {{ form_widget(f.type_service,{'attr':{'class':'mytext'}}) }}
        <label>place</label>{{ form_widget(f.adresse,{'attr':{'class':'mytext'}}) }}
        {{ form_widget(f.chercher,{'attr':{'class':'bo'}}
        )  }}
        {{ form_end(f) }}</div>
    <br><br>
    <div>
        {% for u in users %}
            <form> <fieldset> <legend></legend>
                    <table>
                        <tr>
                            <td align="center" rowspan="2"> <img src="{{ asset(u.url_image) }}" id="1"/>
                            <td>   {{ u.nom }} {{ u.prenom }} ,</td>
                            <td> {{ u.information }} {{ u.adresse }}</td>
                        <tr></tr>
                        </td>
                        </tr>


                            <td align="center"><a href="{{ path('prendre_rdv',{'id':u.id })}}"><input type="button" value="prendre rendez_vous" class="bo1"></a></td>

                    </table>
                </fieldset>
            </form>

        {% endfor %}
    </div>
</div>
{% endblock %}



