{% extends 'PidevBundle::layoutMembre.html.twig' %}
{% block title %}
    prise redv
{% endblock %}
{% block contenu %}
    <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
    <style>

      .i{
            display:inline-block;
            width: 250px;
            height: 250px;
            border: none;




        }
        #divimage{

            display: inline-block;
            text-align: center;
            background-position:center ;

        }
        #divimage a{
            text-decoration: none;
            width: 200px;
            height: 200px;
            display: inline-block;
            position: relative;
        }
      #divimage a span{
            position: absolute;
            top: 25px;
            left: 20px;
          display: none;
        }
        #divimage a:hover span{

            display: block;
        }
      #divimage span.title{
            position: absolute;
            top: 45px;
            left: 25px;
            color:#b10837;
            font-weight: bolder;
            font-size: 1.2em;
          z-index:2;
        }
        #divimage span.bg
        {
            top: 0;
            left:0;
            height: 200px;
            width:200px;
            bakground:#000;
            z-index: 1;

        }

      #divimage span.title1{
          position: absolute;
          top: 45px;
          left: 130px;
          color:#b10837;
          font-weight: bolder;
          font-size: 1.2em;
          z-index:2;
      }
      #divimage span.title2{
          position: absolute;
          top: 45px;
          left: 180px;
          color:#b10837;
          font-weight: bolder;
          font-size: 1.2em;
          z-index:2;
      }
        #image1{
            border: 5px solid #b0b0b0; margin: 5px 6px 15px 6px;
        }
        #image2{
            border : 5px solid #b0b0b0; margin : 5px 25px 15px 75px;
        }
      #image3{
          border : 5px solid #b0b0b0; margin : 5px 25px 15px 144px;
      }.kbir{
                 align:center;
              padding-left:220px;

             }
      #btn1{
          background-color:#b10837;
          text-align: right;
          padding: 10px 10px;
          text-decoration: none;
          text-transform: uppercase;
          color: #FFFFFF;
          size:25cm;
          left:40%;
          display: block;
          position: relative;
          top:0px;

      }
      #btn2{
          background-color:#b10837;
          text-align: right;
          padding: 10px 10px;
          text-decoration: none;
          text-transform: uppercase;
          color: #FFFFFF;
          size:25cm;
          left:55%;
          display: block;
          position: relative;
          top:0px;

      }
      #btn3{
          background-color:#b10837;
          text-align: right;
          padding: 10px 10px;
          text-decoration: none;
          text-transform: uppercase;
          color: #FFFFFF;
          size:25cm;
          left:90%;
          display: block;
          position: relative;
          top:0px;

      }
      fieldset{
          border: 1px solid rgb(255, 124, 250);
          width: 600px;
          margin:auto;
      }
        .l{
            color: #b10837;
            left: 250px;
            font-weight: bold;
            font-size: large;
            padding-left:100px;
        }
        .label2{
            color: #b10837;
            left: 400px;
            font-weight: bold;
            font-size: large;
        }
        .i2{
            padding-left:20px;
        }
      .l4{
          color: #0b0b0b;
          font-weight: bold;
          font-size: large;
      }
        p{
            color:#b10837;
            font-weight: bold;
            font-size: large;
            padding-left:300px;
        }

    </style>



</head>
<body>
<div class="kbir">
<div id="divimage">
    <a href="#">
        <span class="title">{{ nombre1 }} appointments for today</span>
        <span class="bg"></span>
<img src={{ asset('images/rendez.jpg') }} alt="" id="image1" class="i"/></a> <br> <br>
    <br><br>
    <input type="submit" value="Today" id="btn1">
</div>
<div id="divimage">
    <a href="#">
        <span  class="title1"> {{ nombre2 }} appointments for tomorrow</span>
        <span class="bg"></span>
        <img src={{ asset('images/rendez.jpg') }} alt="" id="image2" class="i"/></a> <br> <br>    <br><br>
    <input type="submit" value="tomorrow" id="btn2">
</div>
<div id="divimage">
    <a href="#">
        <span class="title2">{{ nombre3 }} appointments for this week</span>
        <span class="bg"></span>
        <img src={{ asset('images/rendez.jpg') }} alt="" id="image3" class="i"/></a> <br><br>    <br><br>
    <input type="submit" value="this week" id="btn3">
</div>
</div>
<br> <br>
<script>
    $(function() {
        $('#btn1').click(function () {
            $("#div1").show();
            $("#div2").hide();
            $("#div3").hide();
        });
    });

</script>
<script>
    $(function() {
        $("#btn2").click(function () {
            $("#div1").hide();
            $("#div3").hide();
            $("#div2").show();
        });
    });

</script>
<script>
    $(function() {
        $("#btn3").click(function () {

            $("#div1").hide();
            $("#div2").hide();
            $("#div3").show();

        });
    });

</script>

<div id="div1" hidden="hidden">
    {% for rdv in rdvs1 %}
        <form> <fieldset><legend></legend>
                <td>
                    <tr>

                         <label class="l">Date du rendez vous :</label>
                         <label class="label2">{{ rdv.dateRdv|date }}</label></tr>
                    <tr>
                        <td align="center" rowspan="2"> <img src="{{ asset(rdv.idMembre.url_image) }}" class="i2"/></td>
                    <tr><label class="l4">{{  rdv.idMembre.nom }} {{ rdv.idMembre.prenom }}:</label></tr>

                    <tr>{{ rdv.typeConsultation }} pour son animal</tr></td></tr>

                </table>
                <p>{{ rdv.prixConsultation }}DT</p>
            </fieldset>
        </form>

    {% endfor %}
</div>

<div id="div2" hidden="hidden">
    {% for rdv1 in rdvs2 %}
        <form> <fieldset><legend></legend>
<table>
                    <tr>
                        <label class="l">Date du rendez vous: </label>
                     <label class="label2">{{ rdv1.dateRdv|date }}</label></tr>

                        <td align="center" rowspan="2"> <img src="{{ asset(rdv1.idMembre.url_image) }}" class="i2"/></td>

                     <div class="i3">
                         <td><label class="l4">{{ rdv1.idMembre.nom }} {{ rdv1.idMembre.prenom }} :</label></td>

                        <td>{{ rdv1.typeConsultation }} pour son animal</td></div></tr>

                </table>
                <p>{{ rdv1.prixConsultation }}DT</p>
            </fieldset>
        </form>

    {% endfor %}
</div>

<div id="div3" hidden="hidden">
    {% for rdv2 in rdvs3 %}
        <form> <fieldset><legend></legend>
                <table>
                    <tr>

                       <label class="l">Date du rendez vou: </label>
                     <label class="label2">{{ rdv2.dateRdv|date }}</label></tr>

                        <td align="center"rowspan="2"> <img src="{{ asset(rdv2.idMembre.url_image) }}" class="i2"/></td>

                    <td> <label class="l4">{{ rdv2.idMembre.nom }} {{ rdv2.idMembre.prenom }}:</label></td>

                    <td> {{ rdv2.typeConsultation }} pour son animal</td></tr>
                </table>
                <p>{{ rdv2.prixConsultation }}DT</p>
            </fieldset>
        </form>

    {% endfor %}
</div>
{% endblock %}
