{% extends 'PidevBundle::layoutMembre.html.twig' %}
{% block title %}
    rubrique_sanitaire
{% endblock %}
{% block contenu %}
   <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $("#h").click(function () {
                $("#f").show();


            });

        });
    </script>
<style>
    h1{
        color: #b10837;
       padding-top: 50px;
        padding-left: 400px;
    }
    p{
        color:#0b0b0b;
        font-weight: bold;
        font-family: "Yu Gothic UI Semibold";
    }
  .premier{
      left: 800px;
      font-weight: bold;
      font-size: large;
      position: relative;

    }
    a{
        color: #b10837;
    }
    .deuxieme{
        left:430px;
        position:relative;
        top: -30px;

    }
</style>

</head>
<body>
    {% for rubrique in rubriques %}
       <h1>{{ rubrique.titre }} </h1>
        <br><br>
          <p> {{ rubrique.contenu }}</p>
        <br><br>
       <div align="center"><img src="{{ asset('uploads/images/')}}{{ rubrique.image }}" width="400" height="200"></div>
       <div class="premier"><a  href="{{ asset('uploads/images/' ~ rubrique.brochure) }}">For more information (PDF)</a></div>
        <div class="deuxieme"><a href="{{ path('showcomments',{'id':rubrique.id })}}" class="o">{{ rubrique.nbcommentaire }} les commentaires</a> </div>

    {% endfor %}
    <script type="text/javascript">
        $('.o').click(function(){

            var url = $(this).attr('href').replace(/.html.twig/,'-showcomments.html.twig');
            $.ajax({
                url: url,
                success: function(text){
                    $('#2').html('').append($('<div class="#pl"></div>').html(text));
                }
            });
            return false;
        });



    </script>
<div id="2">


</div>
    {% endblock %}


