

<html>
<head>
<title> tous les fournisseurs</title>


</head>
<nav>
<div>
    {{ form_start(f) }}
    {{ form_widget(f) }}
    {{ form_end(f) }}
{% for u in users %}
    <form> <fieldset>

            <table>
             <tr>
                 <td>{{ u.nom }} {{ u.prenom }}</td>
             </tr>
               <tr>
                    <td>{{ u.information }}</td></tr>
                <tr>

                    <td>{{ u.adresse }}</td></tr>
                <tr>

                    <td> <img src="{{ asset(u.url_image) }}" id="1"/></td>
                </tr>
                <tr>
                    <td><a href="{{ path('prendre_rdv',{'id':u.id })}}"><input type="button" value="prendre rendez_vous"></a></td>

                </tr>
            </table>
        </fieldset>
    </form>

{% endfor %}
</div>


</nav>

</html>

