{% extends 'PidevBundle::layoutMembre.html.twig' %}
{% block title %}
    prise redv
{% endblock %}
{% block contenu %}
<script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
<link rel="stylesheet" type="text/css" media="screen"
href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
    </script>
    <script type="text/javascript"
            src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript"
            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>

<script>

    $(document).ready(function(){
        if ($("#4").text()=="Veterinaire")
        {
            $("#select1").show();
            $("#select2").hide();
            $("#select3").hide();
            $("#select4").hide();
        }
       else
           if($("#4").text()=="Dresseur")
        {
           $("#select2").show();
            $("#select1").hide();
            $("#select3").hide();
            $("#select4").hide();
        }
       else
           if($("#4").text()=="Toiletteur")
        {
            $("#select3").show();
            $("#select1").hide();
            $("#select2").hide();
            $("#select4").hide();
        }

       else
        {
            $("#select4").show();
            $("#select3").hide();
            $("#select1").hide();
            $("#select2").hide();
        }

    });


</script>

    <script>
        $(function(){
            $("#select1").click(function() {
                if($('#select1 option:selected').val()=="Stérilisation")
                {

                    $("#input3").val(15);
                    $("#hihi").html("Stérilisation");
                }
                if($('#select1 option:selected').val()=="chirurgies exploratoires")
                {
                    $("#input3").val(25);
                    $("#hihi").html("chirurgies exploratoires");

                }
                if($('#select1 option:selected').val()=="chirurgies spécialisées")
                {
                    $("#input3").val(30);
                    $("#hihi").html("chirurgies spécialisées");
                }
                if($('#select1 option:selected').val()=="Radiographie numérique")
                {
                    $("#input3").val(40);
                    $("#hihi").html("Radiographie numérique");
                }
                if($('#select1 option:selected').val()=="Échographies abdominales exploratoires")
                {
                    $("#input3").val(70);
                    $("#hihi").html("Échographies abdominales exploratoires");
                }
                if($('#select1 option:selected').val()=="prélèvements écho-guidés")
                {
                    $("#input3").val(75);
                    $("#hihi").html("prélèvements écho-guidés");
                }
                if($('#select1 option:selected').val()=="Dentisterie et radiographies dentaires")
                {
                    $("#input3").val(80);
                    $("#hihi").html("Dentisterie et radiographies dentaires");
                }
            });
        });
    </script>
    <!--2 eme select-->
    <script>
        $(function(){
            $("#select2").click(function() {
                if($('#select2 option:selected').val()=="Entrainement pour chiot")
                {

                    $("#input3").html(25);
                    $("#hihi").html("Entrainement pour chiot");
                }
                if($('#select2 option:selected').val()=="Entrainement pour chien")
                {
                    $("#input3").val(25);
                    $("#hihi").html("Entrainement pour chien");

                }
                if($('#select2 option:selected').val()=="Bonnes manieres")
                {  $("#input3").val(40);
                    $("#hihi").html("Bonnes manieres");
                }
                if($('#select2 option:selected').val()=="obeissance")
                {
                    $("#input3").val(60);
                    $("#hihi").html("obeissance");
                }
                if($('#select2 option:selected').val()=="modification comportemental")
                {
                    $("#input3").val(90);
                    $("#hihi").html("modification comportemental");
                }
                if($('#select2 option:selected').val()=="sportif")
                {
                    $("#input3").val(80);
                    $("#hihi").html("sportif");
                }

            });
        });

    </script>
    <!--3 eme select-->
    <script>

        if($('#select3 option:selected').val()=="Brossage fourrure")
        {
            $("#input3").val(10);
            $("#hihi").html("Brossage fourrure");
        }
        if($('#select3 option:selected').val()=="Brossage plume")
        {
            $("#input3").val(15);
            $("#hihi").html("Brossage plume");
        }
        if($('#select3 option:selected').val()=="nettoyage des oreilles du chien")
        {
            $("#input3").val(35);
            $("#hihi").html("nettoyage des oreilles du chien");
        }
        if ($('#select3 option:selected').val()=="Rasage électronique")
        {
            $("#input3").val(20);
            $("#hihi").html("Rasage électronique");
        }
        if ($('#select3 option:selected').val()=="enlever les poils morts")
        {
            $("#input3").val(30);
            $("#hihi").html("enlever les poils morts");
        }
        if ($('#select3 option:selected').val()=="vidange des sacs anaux")
        {
            $("#input3").val(45);
            $("#hihi").html("vidange des sacs anaux");
        }



    </script>
    <!-- select4
    -->
    <script>
    if ($('#select4 option:selected').val()=="effectuer une promenade hygiénique")
    {
    $("#input3").val(25);
        $("#hihi").html("effectuer une promenade hygiénique");
    }
    if($('#select4 option:selected').val()=="nourrir l'animal")
    {
    $("#input3").val(15);
        $("#hihi").html("nourrir l'animal");
    }
    if($('#select4 option:selected').val()==" changer sa litière")
    {
    $("#input3").val(10);
        $("#hihi").html("changer sa litière");
    }
    if ($('#select4 option:selected').val()=="accueillir les animaux à son domicile")
    {
    $("#input3").val(40);
        $("#hihi").html("accueillir les animaux à son domicile");
    }
    </script>



<style>
    #map{
        height:150px;
        width:40%;
        position:absolute;
        top:355px;
        right: 20px;



    }

</style>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGVb962wKER2y5YsbLn_MtFXzfWhbsiH8&callback=initMap"
    ></script>


<script>
    $(function() {
        $("#btn1").click(function (event) {
            event.preventDefault();
            var type_consultation = $(hihi).text();
            var prix = $(input3).val();
            var id_fourni = $(id_fournisseur).text();
            var nom = $(input1).val();
            var prenom = $(input2).val();
            var email = $(input5).val();
            var datte = $(d).val();
            var DATA = {
                'type_consultation': type_consultation,
                'prix': prix,
                'id_fourni': id_fourni,
                'nom': nom,
                'prenom': prenom,
                'email': email,
                'datte': datte
            };
            $.ajax({
                type: "POST",
                url:"{{ path('prendre_rdv', { 'id' : u.id}) }}",
                data: DATA,

                success:function(data) {
                    alert($data);
                }
            });
        });
    });
</script>


        <style>
            p{
                text-align:center;
                font-size: large;
                font-weight: bold;
                color: #b10837;
            }
            #form1{
                border: 1px solid rgb(255, 124, 250);
                width: 650px;
                margin:50px;
                top:500px;
                left:80%;
                padding-right: 50px;
                padding-left: 50px;


            }

            .bo1{
                background-color:#b10837;
                text-align: right;
                padding: 7px 7px;
                text-decoration: none;
                text-transform: uppercase;
                color: #FFFFFF;
                size:20cm;
                left:40%;
                display: block;
                position: relative;
                top:-5px;

            }
            .l{
                font-size:large;
                font-weight:bolder;
                color: #b10837;
                text-align: left;
            }

            .b{
                size: 40cm;
                width: 250px;


            }
            .p1{

                position:absolute;
                top:505px;
                left:850px;
                text-align:center;
                font-size: large;
                font-weight: bold;
                color: #b10837;

            }
            .g{
               position:relative;
                top:30px;
                left:880px;
            }
            .p2{

                position:absolute;
                top:300px;
                left:850px;
                text-align:center;
                font-size: large;
                font-weight: bold;
                color: #b10837;

            }
            .m{
                position:absolute;
                top:200px;
                left:250px;
                text-align:center;
                font-size: large;
                font-family: 'Varela Round', sans-serif;
                font-weight: bold;
                color: #b10837;

            }
            .k{
                top:700px;
            }

        </style>
<div class="g">
    <img src="{{ asset(u.url_image) }}">
    <p hidden="hidden" id="latitude">{{ u.lat }}</p>
    <p id="longitude" hidden="hidden">{{ u.lng }}</p>
    <p id="4" hidden="hidden">{{ u.typeservice }}</p>
    <p id="image" hidden="hidden">{{ u.image }}</p>
    <p id="ville" hidden="hidden">{{ u.ville }}</p></div>
    <div>
        <p class="p2"> your are at {{ u.nom }} {{ u.prenom }}'s office
        <br> {{ u.information }}
        </p>

    </div>
<div class="k">
    <p class="m">confirm you appointement</p>
    <form method="POST" id="form1" >
        <fieldset> <legend> your appoitement</legend>
    <table>

        <tr>
            <td><label class="l">entrez votre nom</label></td>
            <td><input type="text" id="input1" placeholder="nom" name="nom" required class="b"></td>
        </tr>
        <tr>
            <td><label class="l">entrez votre prenom</label></td>
            <td><input type="text" id="input2" placeholder="prenom" name="prenom" required class="b"></td>
        </tr>
        <tr>
            <td><label class="l"> enterez votre email</label></td>
            <td><input type="email" id="input5"  name="email" placeholder="nom@gmail.com" required class="b" ></td>
        </tr>
        <tr>
            <td><label class="l">choissisez la date </label></td>
            <td>
                <div id="date" class="input-append date">
                    <input type="text"  name="datte" id="d" class="b">
                    <span class="add-on">
                    <i date-time-icon="icon-time" date-date-icon="icon-calendar"></i>
                </span>
                </div></td>
        </tr>
        <tr>
            <td > <label class="l">type consultation</label></td>
            <td id="7">
                <select id="select1" hidden="hidden" required class="b">
                    <option id="2" value="Stérilisation">Stérilisation</option><option id="3" value="chirurgies exploratoires">chirurgies exploratoires</option>
                    <option id="4" value="chirurgies spécialisées">chirurgies spécialisées</option><option id="5" value="Radiographie numérique">Radiographie numérique</option>
                    <option id="6" value="Échographies abdominales exploratoires">Échographies abdominales exploratoires</option><option id="7" value="prélèvements écho-guidés">prélèvements écho-guidés</option>
                    <option id="8" value="Dentisterie et radiographies dentaires">Dentisterie et radiographies dentaires</option>
                </select>
                <select id="select2"  hidden="hidden" required class="b">
                    <option id="9" value="Entrainement pour chiot">Entrainement pour chiot</option><option id="10" value="Entrainement pour chien">Entrainement pour chien</option>
                    <option id="11" value="Bonnes manieres">Bonnes manieres</option><option id="12" value="obeissance">obeissance</option>
                    <option id="13" value="modification comportemental">modification comportemental</option><option id="14" value="sportif">sportif</option>
                </select>
                <select id="select3" hidden="hidden" required class="b">
                    <option id="15" value="Brossage fourrure">Brossage fourrure</option><option id="16" value="Brossage plume">Brossage plume</option>
                    <option id="17" value="Rasage électronique">Rasage électronique</option><option id="18" value="enlever les poils morts">enlever les poils morts</option>
                    <option id="19" value="nettoyage des oreilles du chien">"nettoyage des oreilles du chien</option><option id="20" value="vidange des sacs anaux">vidange des sacs anaux</option>
                </select>
                <select id="select4"  hidden="hidden" required class="b">
                    <option id="21" value="effectuer une promenade hygiénique">effectuer une promenade hygiénique</option><option id="22" value="nourrir l'animal">nourrir l'animal</option>
                    <option id="23" value="changer sa litière"> changer sa litière</option><option id="24" value="accueillir les animaux à son domicile">accueillir les animaux à son domicile</option>
                </select>
            </td>
        </tr>


        <tr><td><label class="l">le prix du consultation</label>
            </td>
            <td ><input type="number" id="input3" placeholder="prix" name="prix"class="b" ></td>
            <td><p id="hihi" hidden="hidden"></p></td>
           <td><p hidden="hidden" id="id_fournisseur">{{ u.id }}</p></td>
        </tr>

    </table>
     <input type="button"value="submit" id="btn1" class="bo1">
        </fieldset>
    </form>
    <script>
        var k=parseFloat($(latitude).text());
        var j=parseFloat($(longitude).text());
        var z=$(image).text();
        var w=$(ville).text();

        function initMap()
        { var options={
            zoom:8,
            center:{lat:k,lng:j}
        }
            var map=new google.maps.Map(document.getElementById('map'),options);

            var marker=new google.maps.Marker({
                position:{lat:k,lng:j},
                map:map,

            });
            var infowindow=new google.maps.InfoWindow({
                content:w
            });
            marker.addListener('click',function (){
                infowindow.open(map,marker);
            });
        }

    </script>
    <script type="text/javascript">
        $('#date').datetimepicker({
            format: 'yyyy-MM-dd hh:mm:ss',
            language: 'en'
        });
    </script>

</div>
    <div id="map">

    </div>
    <div class="p1"> l'adresse exacte du  {{ u.nom }} {{ u.prenom }}</div>

</div>

{% endblock %}